* {
    margin: 0;
    padding: 0;
}

.nba {
    display: flex;
    justify-content: center;

}

.easternConference {
    width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 85px;

}

.westernConference {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 85px;

}

.h1 {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
}

.h2-tables {
    font-family: "Rubik Distressed", system-ui;
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    color: rgb(1, 1, 168);
}

.div-h2 {
    display: flex;
    max-width: 1100px;
    margin: 30px auto 10px;
    gap: 20px;
    /* match the gap between the cards below */
}

.east,
.west {
    flex: 1;
    /* <-- each title now takes 50% of the row */
    text-align: center;
    /* <-- center the text inside that half */
    font-size: 40px;
    font-family: "Rubik Distressed", system-ui;
    color: rgb(36, 36, 142);
}

.nba {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto 40px;
    /* center and add bottom spacing */
}

#div-search,
#div-eastern,
#div-weastern {
    min-height: 500px;
    padding: 25px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

#div-eastern,
#div-weastern {
    flex: 1;
}

.easternConference2 {
    width: 33px;
}

.westernConference2 {
    width: 33px;
}

.westernConference3 {
    width: 42px;
}

.div-ranking {
    margin-top: 65px;
    font-family: "Rubik Distressed", system-ui;
    color: rgb(36, 36, 142);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.time {
    display: inline-block;
}

.img-home {
    width: 100%;
    height: auto;
    /* keeps proportions */
    max-width: 800px;
    /* optional limit */
    display: block;
    margin: 20px auto;
    /* center it */
}

.conference-tiers {
    width: 450px;
}

.conference-numbers {
    display: flex;
    margin-left: 80px;
}

.p-tiers {
    margin-left: 133px;
}

.footer-home {
    margin-top: 40px;
}

.history-h1 {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;

}

.img-history1 {
    width: 1040px;
    height: 600px;
    margin-bottom: 290px;
}

.img-history2 {
    width: 300px;
    height: 900px;
    margin-left: 205px;
    margin-top: 20px;
}

.h4-history {
    font-family: "Rubik Distressed", system-ui;
}

.div-history-PO {
    margin-top: 20px;
}

.nba-quiz {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

.h2-quiz {
    margin-top: 20px;
    margin-bottom: 20px;
}


.eastern-stats {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}

.western-stats {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}

.btn-eastern {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-western {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.legends-h1 {
    font-family: "Rubik Distressed", system-ui;
    color: rgb(201, 7, 7);
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;

}

.stadium-block {

    display: inline-block;
}

.popularity-teams {
    font-family: "Rubik Distressed", system-ui;

    font-weight: 400;
    font-style: normal;
    margin-left: 465px;
    margin-top: 10px;
}

.legends-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 500px;
    margin-top: 20px;
}

.legends {
    margin-bottom: 20px;
}

.legends-name {
    margin-top: 17px;
}

.year-won {
    margin-left: 10px;
    margin-right: 10px;
}

.legends-icon {
    width: 45px;
}

.legends-icon2 {
    width: 20px;
}

.question-history {
    margin-top: 10px;
}

.options {
    display: flex;
    justify-content: center;
    font-size: 17px;
    gap: 6px;

}

.user {
    margin-left: 400px;
}

.div-standings-e {
    font-family: "Rubik Distressed", system-ui;
    font-size: 20px;
    margin-top: 30px;
}

.div-update-e {
    font-family: "Rubik Distressed", system-ui;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 17px;
}

.btn-finish {
    display: flex;
    justify-content: center;
}

.users-ranking-h4 {
    display: flex;
    justify-content: center;
    font-family: "Rubik Distressed", system-ui;
}

.input-history {

    justify-content: center;
    margin-bottom: 10px;

}

.input-size {
    width: 370px;
    margin-left: 472px;
}

.label-history {
    display: flex;
    justify-content: center;
}

#div-search {
    display: none;
    /* hidden by default */
}